@charset "utf-8";

/* CSS Document */

body
{	
background-image:url(../images/background/diazepambackground.png)
}

#Navbar
{
	text-align: center;
	font-family:reenie-beanie;
	font-style: bold;
	font-weight: 500;
	font-size:30px;
	width:auto;
	
}

#Banner
{
	font-family: miama, dancing-script;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	margin-top: 5%;
	padding-left: 5%;
	text-align:center;
	overflow: hidden;
	width:auto;
	background-image:url("../images/background/contentbackground(tile).png")
}

#Content
{
	font-family:dancing-script;
	font-style: normal;
	font-weight:bold;
	font-size: 20px;
	margin-top: 5%;
	padding-left: 5%;
	overflow:hidden;
	width: auto;
	background-image:url("../images/background/contentbackground(tile).png");
}


.indexwidth
{
    max-width:75%;
    margin: auto;
	padding:3%;	
}

/* Events*/
#upcoming1
{
	font-family:dancing-script;
	font-style: normal;
	font-weight:bold;
	font-size: 20px;
	margin-top: 2%;
	padding-left: 5%;
	overflow:auto;
	width: auto;
	background-image:url("../images/background/contentbackground(tile).png")
}

#upcoming2
{
	font-family:dancing-script;
	font-style: normal;
	font-weight:bold;
	font-size: 20px;
	margin-top: 2%;
	padding-left: 5%;
	overflow:auto;
	width: auto;
	background-image:url("../images/background/contentbackground(tile).png")
	
	
}

#upcoming3
{
	font-family:dancing-script;
	font-style: normal;
	font-weight:bold;
	font-size: 20px;
	margin-top: 2%;
	padding-left: 5%;
	overflow:auto;
	width: auto;
	background-image:url("../images/background/contentbackground(tile).png")	
}

#upcoming4
{
	font-family:dancing-script;
	font-style: normal;
	font-weight:bold;
	font-size: 20px;
	margin-top: 2%;
	padding-left: 5%;
	overflow:auto;
	width: auto;
	background-image:url("../images/background/contentbackground(tile).png")	
	
}



/* Ice Cream Gallery*/
div.desc {
    padding-top: 6%;
    text-align:center;
	
}

/*Enlarge images*/
ul.enlarge {
list-style-type:none; 
float:right;
margin-bottom:40%

}

ul.enlarge li {
display:inline-block; /*places the images in a line*/
position: relative; 
z-index: 0; 
padding:5% 5% 50% 5%; /*space between the images*/
}

ul.enlarge span{
position:absolute; 
left: -9999px; /*moves the span off the page*/
}

ul.enlarge img{
float:right;
background-color:#eae9d4; 
padding: 3%; 
max-width:300px;
max-height:350px;
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin:5%;
}

ul.enlarge li:hover{
z-index: 50; 
cursor:pointer; 
}
 

ul.enlarge li:hover span{  
top: -1%; 
left: -0.5%; 
}


ul.enlarge li:hover:nth-child(2) span{
left: -100px; 
}

ul.enlarge li:hover:nth-child(3) span{
left: -200px; 
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* index Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:#FFFFFF;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color:rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #50C0A8;
}

/* Image Caption */
.text {
  color:#000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text1 {
  color:#FFFFFF;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
  color:#000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#Footer
{
	font-family: yellowtail;
	font-style: normal;
	font-weight: 400;
}

/*Responsive Web*/
